<div id="<%= dom_id post %>">

  <%# <p>
    <% post.images.each do |image| %>
      <%# <%= link_to image_tag(post.image), image %> %>
    <%# <% end %> %>
  <%# </p> %> %>

  <%# <div>
    <%# user attaching image and if there is none attached %>
    <%# <% if post.images.attached? %> %>
        <%# <%= image_tag post.images, alt: post.restaurant_name %> %>
    <%# <% else %> %>
      <%# <%=image_tag('questionmark.jpg')%> %>
    <%# <% end %> %>
  <%# </div> %> %>

  <div>
    <%= image_tag post.image, alt: post.restaurant_name%>
  </div>

  <p>
    <strong>Restaurant name:</strong>
    <%= post.restaurant_name %>
  </p>

  <p>
    <strong>Street number:</strong>
    <%= post.street_number %>
  </p>

  <p>
    <strong>Street name:</strong>
    <%= post.street_name %>
  </p>

  <p>
    <strong>Suburb:</strong>
    <%= post.suburb %>
  </p>

  <p>
    <strong>Postcode:</strong>
    <%= post.postcode %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>

  <p>
    <strong>Cuisine:</strong>
    <%= post.cuisine.name %>
  </p>

  <p>
    <strong>Food prep:</strong>
    <%= post.food_prep.name %>
  </p>

  <p>
    <strong>User Restaurant Owner:</strong>
    <% if post.user.restaurant_owner_accepted == false %>
      <%= "not a restaurant owner" %>
    <% else %>
      <%= "is a restaurant owner" %>
    <% end %>
  </p>

  <p>
    <strong>Live status:</strong>
    <%= post.live_status %>
  </p>

</div>
