<div id="<%= dom_id post %>">
  <p>
    <strong>Restaurant name:</strong>
    <%= post.restaurant_name %>
  </p>

  <p>
    <strong>Street number:</strong>
    <%= post.street_number %>
  </p>

  <p>
    <strong>Street name:</strong>
    <%= post.street_name %>
  </p>

  <p>
    <strong>Suburb:</strong>
    <%= post.suburb %>
  </p>

  <p>
    <strong>Postcode:</strong>
    <%= post.postcode %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>

  <p>
    <strong>Cuisine:</strong>
    <%= post.cuisine_id %>
  </p>

  <p>
    <strong>Food prep:</strong>
    <%= post.food_prep_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= post.user_id %>
  </p>

  <p>
    <strong>Live status:</strong>
    <%= post.live_status %>
  </p>

</div>
